[Desktop Entry]
Type=Application
Name=My Media Editor
Comment=Edit and convert images and videos
Exec=MyMediaEditor
Icon=my-media-editor
Categories=AudioVideo;Video;Graphics;
Terminal=false
